.root {
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-base: #1F1F1F;
    -fx-background: #1F1F1F;
}

.button {
    -fx-background-color: linear-gradient(to right, #6004D5, #A600F4);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5 22 5 22;
}

.button:hover {
    -fx-background-color: #436CB9;
}

.table-view {
    -fx-text-fill: white;
    -fx-background-color-: #1F1F1F;
    -fx-border-color: grey;
    -fx-border-radius: 5;
}

.table-view .column-header-background .label {
    -fx-background-color: linear-gradient(to right, #6004D5, #A600F4);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.table-cell {
    -fx-text-fill: white;
}



.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 2);
}

.hbox {
    -fx-background-color: #8B8680;
}


